* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.buscador-productos {
    margin-top: 120px;
    padding: 0 15px;
    text-align: center;
    color: #c47a6d;
}

.buscador-productos input[type="search"] {
    width: 100%;
    width: 300px;
    color: #c47a6d;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    border-bottom: 2px solid #a0522d;
    padding: 12px;
    background-color: rgba(245, 230, 211, 0.8);
}

.contenedor-tarjetas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 20px;
    justify-items: center;
}

.tarjeta-producto {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    height: auto;
    min-height: 400px;
    text-align: center;
    overflow: hidden;
    opacity: 0;
    transform: translateX(50px);
    transition: all 0.3s ease;
}

.tarjeta-producto.mostrar {
  opacity: 1;
  transform: translateX(0); 
}

.tarjeta-producto a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.productos h2 {
    margin-bottom: 3px;
}

.product-card p {
    color: #c47a6d;
}

.btn-agregarcarrito {
    margin-top: auto;
    padding: 10px 20px;
    background-color: #c47a6d;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-agregarcarrito:hover {
    background-color: #a0522d;
    letter-spacing: 1px;
}

@media (min-width: 768px) {
    .buscador-productos {
        margin-top: 120px;
        align-self: center;
    }

    .buscador-productos input[type="search"] {
        width: 600px;
    }

    .contenedor-tarjetas {
        margin: 30px;
    }

    main {
        z-index: 1;
        margin-top: clamp(8rem, 15vh, 12rem);
        padding: 1rem;
        margin-top: 5vh;
    }
}