* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*
--- CONFIGURACIÓN DEL HEADER ---
*/

.header-sticky {
    color: white;
    width: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    margin-top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    color: #333;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 1rem;
}

#imgCarrito{
    filter: invert(100%);
}

.marca{
    display: flex;
    align-items: center;
    gap: 15px;
}
#logo{
    margin-left: 20px;
    width: 50px;
    height: auto;
    fill: #87A96B;
}
.marca p{
    font-family: 'Playfair Display', sans-serif;
    margin-left: 0;
    padding: 0;
    font-size: 2rem;
    font-weight: 600;
    color: #A0522D;
}

#menu{
    width: 30px;
    height: auto;
}

#imgCarrito{
    width: 1.8rem;
    height: auto;
    justify-content: center;
    fill: #87A96B;
}

nav{
    position: fixed; /* para que quede sobre el contenido */
    top: 0;
    right: -250px; /* fuera de pantalla a la derecha */
    width: 250px;
    height: 100vh;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0,0,0,0.3);
    transition: right 0.3s ease;
    padding: 2rem;
    z-index: 1000;
    display: flex;  
    flex-direction: column; 
    align-items: center;
}
nav.open {
  right: 0;
}
nav.close{
    right: -100%;
}

#btnCerrarMenu{
    width: 20px;
    height: auto;
    position: absolute;       
    right: 30px;                
    top: 30px;                   
    cursor: pointer;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 40px;
}
header nav ul li {
  margin-bottom: 1rem;
}
header nav ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #333;
  transition: all 0.3s ease;
}
/*Para pcs*/
@media (min-width: 768px) {
  html {
    font-size: 20px; /*Este valor equivale a 1rem*/
  }

  #menu {
    visibility: hidden;
  }

  #btnCerrarMenu {
    visibility: hidden;
  }

  nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 1rem;
  }

  nav ul li {
    margin: 0 1rem;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  nav ul li a:hover {
    color: rgba(212, 164, 55, 0.5);
  }

  header nav {
    position: static;
    width: auto;
    height: auto;
    background: none;
    box-shadow: none;
    right: 0;
    transition: none;
    padding: 0;
    margin-top: 20px;
  }

  header nav.open {
    right: 0; /* no afecta */
  }

  .header-sticky {
    padding: 0;
  }
}

/*
--- CONFIGURACIÓN DEL FOOTER ---
*/

footer {
    background-color: #f8f3ec;
    color: #333;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

#icono-ig-contacto {
  filter: invert(100%);
  width: 30px;
}

.footer-header{
    display: flex;
    flex-direction: row;
}

#footer-columna1{
    display: block;
    align-items: left;
    width: 50vw;
    text-align: left;
}
#footer-columna1 p{
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    color: #c47a6d;
    letter-spacing: 1px;
}
#footer-columna1 img{
    transition: filter 0.3s ease-out, transform 0.3s ease-out;
}
#footer-columna1 img:hover{
    filter: brightness(60%);
    transform: scale(1.05);
}

#footer-columna2{
    display: block;
    width: 50vw;
    text-align: left;
}
#footer-columna2 a{
    text-decoration: none;
    color: #505050;
    transition: all 0.3s ease;
    position: relative;
    padding-bottom: 3px;
}
#footer-columna2 a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #c47a6d;
  transform: scaleX(1);
  transform-origin: left; 
  transition: transform 0.3s ease-out;
}
#footer-columna2 a:hover{ color: #1b1b1b; }
#footer-columna2 a:hover::after{transform: scaleX(0);}